@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 68, 94);
}
h1 {
    color: white;
    text-shadow: 2px 2px 2px rgb(10, 18, 26);
    padding: 10px;
}
