@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    line-height: 1.8em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-align: justify;
}

header {
    background-color: gray;
}

header nav {
     background-color: rgb(187, 187, 187);
     padding: 8px 0px 8px 0px;
}
a {
    margin-right: 10px;
    padding: 10px 0px 10px 10px;
}
h2 {
    padding-top: 10px;
    padding-left: 5px;
}
header h1 {
    padding: 10px 0px 10px 5px;
}
p {
    padding-left: 10px;
}
footer {
    display: none;
}