@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
}
#TitPrin {
    margin-top: 0px;
    padding: 16px 10px 0px 10px;
    line-height: 1.1em;
}
h2 {
    padding-left: 10px;
    line-height: 20px;
}
p {
    margin-top: 20px;
    padding: 0px 16px 0px 10px ;
    
    line-height: 20px;

}
section#mains {
    background-color: rgba(128, 128, 128, 0.514);
    margin-top: 10px;
    padding: 17px 0px;
    margin-bottom: 10px;
}
img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0px auto;
  
}
iframe {
    padding: 15px 0px 0px 0px;
    display: block;
    margin: 0px auto;
    width: 90%;
}

article {
    border: 1px dashed black;
}

#mains {
    display: flex;
    flex-flow: column nowrap;
}

#art1 {
    display: flex;
    flex-flow: row wrap-reverse;
    
}
#textimg {
    flex: 1 1 559px;
    padding: 0px 19px;
    border: 2px dashed red;
}
.text {
   flex: 1 0 200px;
   border: 1px dashed blue;
   padding-right: 20px;
}

#art2 {
    display: flex;
    flex-flow: row wrap;
    
}

#video {
    flex: 1 0 500px;
    border: 1px dashed red;
}
