@charset "UTF-8";

@font-face {
    font-family: 'StarWars';
    src: url(../Fontes/starjedi/Starjhol.ttf) format('truetype') ;
}
@font-face {
    font-family: 'StarWarsNorm';
    src: url(../Fontes/starjedi/Starjedi.ttf) format('truetype') ;
}
@font-face {
    font-family: 'MenuStar';
    src: url(../Fontes/starjout/Starjout.ttf) format('truetype') ;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
      width: 100%;
      height: 100vh;
}
header {
    display: grid;
    grid-template:111px auto/ 100%;
    background-image: url(../Imagens/FundoHeader.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    gap: 18px;
}
header h1 {
    grid-row: 1/2;
    color: rgb(212, 210, 67);
    font: normal 3em 'StarWars',Arial, Helvetica, sans-serif;
    text-align: center;
    
}
header nav {
    grid-row: 2/3;
    padding: 0px 10px 10px 15px;
}
header a {
    margin-right: 10px;
    font: normal 1em 'StarWarsNorm', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 7px;
}
header a:hover {
    background-image: linear-gradient(to top,rgb(54, 115, 165),  rgb(127, 198, 231), rgb(54, 115, 165));
    border-radius: 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    transition-duration: .1s;
}
header a:active {
    background-image: none;
    background-color: rgb(199, 233, 255);
}
iframe {
    border: 1px solid red;
}