@charset "UTF-8";

@media screen and (min-width:625px) and (max-width:1000px) {

    section#campIfram {
        height: 58%;
    }

    section#Formu {
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-start;
    }

    section#Formu p#titForm {
        font-size: 1.1em;
    }
    
    div.campo {
        
        width: 100%;
        padding-bottom: 10px;
    }

    div.campo p {
        padding: 0px 10px;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    span.material-symbols-outlined {
        
        display: none;
        
    }

    input {
        width: 98%;
        max-width: 300px;
        padding: 5px 2px;
    }

    div#SubmitForm > input[type=submit] {
    text-align: center;
    align-self: center;
}

    section#Formu div#SubmitForm {
    padding: 10px 10px;
    width: 92%;
    
}

footer {
    grid-template: 1fr/ 1fr 2fr;
    align-items: center;
    justify-items: center;
}

footer p {
font: normal 1.1em Arial, Helvetica, sans-serif;
}

div#Atendimento {
    padding: 24px 0px;
}

footer h2 {
font: normal 1.1em 'StarWarsNorm', Arial, Helvetica, sans-serif;

}

div#Redes {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
}

div#Redes p {
   font: normal 1.2em 'StarWarsNorm', Arial, Helvetica, sans-serif;
}

div#Redes img {
    padding: 0px 6px;
}

footer img {
    width: 100%;
    max-width: 55px;
}

}

@media screen and (min-width:1000px) {

main {
    grid-template: 1fr 2fr/ repeat(3, 1fr);
    
}

h2.Subt1 {
    font: normal 2.2em 'StarWarsNorm', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 1px black;
}
h2.subts {
    font: normal 1.5em 'StarWarsNorm', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(11, 11, 15, 0.473);
}

div a {
    font: normal 1.3em 'StarWarsNorm', Arial, Helvetica, sans-serif;
}
p {
    font: normal 1em 'StarWarsNorm', Arial, Helvetica, sans-serif;
}
section#campIfram > h2 {
    font: normal 1.5em 'StarWarsNorm', Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgb(11, 11, 15);
}
section#campIfram a {
    font-size: 1.3em;
}
li {
    font: normal 1em 'StarWarsNorm', Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgb(11, 11, 15);
}

section#Formu {
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-start;
        max-height: 800px;
    }

    section#Formu p#titForm {
        font-size: 1.5em;
    }
    
    form {
        margin-top: 20px;
    }

    div.campo {
        
        width: 100%;
        padding-bottom: 10px;
    }

    div.campo p {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 0px 10px;
        font-size: 1.2em;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    span.material-symbols-outlined {
        padding-right: 5px;
        transform: translateY(15%);
    }

    input {
        font-size:1em;
        padding: 5px 2px;
        width: 100%;
        max-width: 500px;
    }

    input[type=submit] {
    font-size: 1.2em;
    max-width: 500px;
}

    div#SubmitForm > input[type=submit] {
    text-align: center;
    align-self: center;
}

    section#Formu div#SubmitForm {
    padding: 10px 10px;
    width: 92%;
    
}

footer {
    grid-template: 1fr/ 1fr 2fr;
    align-items: center;
    justify-items: center;
}
div#Atendimento {
    padding: 24px 0px;
}
div#Redes {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
}

nav {
    margin-left: 10px;
}

footer img {
    width: 100%;
    max-width: 55px;

}


footer p {
font: normal 1.2em Arial, Helvetica, sans-serif;
}
footer h2 {
font: normal 1.2em 'StarWarsNorm', Arial, Helvetica, sans-serif;

}
div#Redes p {
   font: normal 1.2em 'StarWarsNorm', Arial, Helvetica, sans-serif;
}

}