@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

body {
    background-color: rgb(182, 182, 182);
}

header {
    background-color: rgb(48, 48, 122);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    transition: width .2s, height 0.2s;
    transition-timing-function: ease;
}

h1 {
    color: white;
    font: normal bold 2.3em Arial, Helvetica, sans-serif;
    padding: 20px 20px 20px 14px;
    flex: 0 0 520px;
    /*border: 1px dashed black;*/
    
}

nav#links {
    /*border: 1px dashed black;*/
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    padding: 0px 10px 15px 0px;
}

a {
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(132, 60, 199);
    color: rgb(255, 255, 255);
    padding: 8px;
    margin-left: 9px;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
    flex: 0 0 120px ;
}

a:hover {
    background-color:rgb(162, 74, 245);
    border: 1px solid rgb(255, 255, 255);
    transition-duration: 0.1s;
}

a:active {
   background-color:rgb(104, 64, 214); 
}

main {
    width: 100vw;
    max-width: 1000px;
    margin: 0px auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    height: 70vh;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.301);
}

h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    padding: 15px 10px 10px 15px;
}
p {
    padding: 10px;
}

span.material-symbols-outlined {
    display: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}